!!! 5
%html{lang: "en"}
  %head
    %title= @page_title
    -# this is a silent comment, should not render
    / this is an HTML comment
  %body
    .container#main
      %h1.headline Welcome, #{current_user.name}
      %p
        Some text with = inline ruby output
      - if @posts.any?
        %ul.posts
          - @posts.each do |post|
            %li{class: post.css_class, data: {id: post.id}}
              = link_to post.title, post_path(post)
      - else
        %p.empty No posts yet.

      :javascript
        console.log("filter body — should highlight as JS if grammar present");
        const x = 42;

      :css
        .foo { color: red; }

      = render "shared/footer"
